.DS_Store
.vscode/*
README_move_fraction.md
/val/*
/train/*
/test/*
venv/*
/data/Clean_Dirty/*
pi_data/
/data/phone_data/*
/data/food_clean/*
delta.json
/data/food_clean_extra_clean/*
*.jpg
*.mp4
video.mp4
*.keras
movie/*
*.png
__pycache__/
  *.pyc